.CreateComment {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 1% 0% 1% 0%;
    width: 100%;
}


.CommentBody {
    width: 80%;
    margin: 0% 1% 0% 0%;
}

.CommentText {
    width: 100%;
    height: 100%;
}


.SubmitButton {
    display: flex;
    flex-direction: column;
    margin: 0% 1% 0% 0%;
    width: 30%;
}

.CommentButton {
    width: 100%;
    margin: 0% 0% 1% 0%;
}

.CancelButton {
    margin: 1% 0% 0% 0%;
    width: 100%;
}

