.CreatePost {
    font-size: 1ex;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1ex 0 4ex 0;
}

.Category {
    flex-direction: column;
    display: flex;
    width: 20%;
    margin: 0 2% 0 0;
    font-size: 125%;
}

.CategoryHeading {
    font-size: 150%;
}

.TextButton {
    width: 50%;
    text-align: right;
}

.PostButton {
    width: 10%;
    margin: 0 0 0 2%;
    font-size: 150%;
}

.PostText {
    width: 90%;
    overflow-wrap: break-word;
    font-size: 125%;
}