.Post {
    border: 0.25ex #0af solid;
    border-radius: 1ex;
    margin-bottom: 1ex;
    background-color: #efefef;
    color: black;
    overflow: hidden;
}

.Left-section {
    text-align: left;
    float: left;
    width: 20%;
}

.Right-section {
    float: right;
    width: 80%;
}

.Category {
    font-size: 1.5ex;
    float: right;
    border-radius: 1ex;
    width: min-content;
    height: min-content;
    background-color:rgb(140, 209, 1);
}

.Category-text {
    margin: 0.5ex;
}

.Title {
    text-align: left;
    margin: 1ex;
    width: 80%;
}

.Post-body {
    text-align: left;
    margin: 1ex;
    font-size: 1ex;
}

.Details {
    font-size: small;
}