.DefaultListingPicture {
    width: 80%;
    margin: 0.5ex;
    height: 50%;
}

.Title {
    text-align: center;
    width: 100%;
    margin: 0 0 1ex 0;
    font-size: 1.5ex;
    font-weight: 1000;
    color: #000;
}

.Description {
    margin: 0 0 1ex 0;
    font-size: 1ex;
    font-weight: 400;
    color: #000;
}

.TimeRemaining {
    margin: 0;
    font-size: 1.5ex;
    font-weight: 500;
}

.MessageOwner {
    font-size: 1.5ex;
    font-weight: 500;
} 