.SearchBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1ex;
    text-align: center;
    margin: 1% 0 2% 0;
    position: relative;
}

.SearchMarket {
    width: 65%;
    min-height: 2ex;
}

.SearchButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 30%;
    min-height: 2ex;
}

.Search {
    margin-bottom: 1%;
}
.Cancel {
    margin: 0;
}